APP_ENV=local
APP_KEY="base64:eJdUGq+3se54rdV5P/f3Gk9EcfupNZouwHVluM8lwpw="
APP_DEBUG=true
APP_URL=http://localhost:8002

BCRYPT_ROUNDS=12
DB_DATABASE=""
DB_USERNAME=""
DB_PASSWORD=""

VITE_APP_NAME="${APP_NAME}"